<header>
    <div class="container">
        <div class="">
            Reserver vos appartement à
            <h3>Bamako</h3>
            et environ
        </div>
    </div>
</header>
<div class="row justify-content-md-center">
    <div class="search">
            <%= form_tag(search_path, method: :get, class: 'form-inline') do %>
                <div id="search-data" class="input-field search-bar" data-adresses="<%= @adresses.to_json %>">
                        <%= text_field_tag :query, nil, autocomplete: 'off', placeholder: "Quartier..." %>
                        <%= date_field_tag :debut, "Date de debut" %>
                        -
                        <%= date_field_tag :fin, "Date de fin" %>
                        <!--<%= number_field_tag :nombre_personne %>-->
                    <%= submit_tag 'Rechercher', :class => 'btn btn-primary form-control' %>
                </div>
            <% end %>
    </div>
</div>