<header style="margin-top: -40px;">
        <div class="background">
            <div class="layer">
                <div class="titre">
                    Reserver vos appartement à <br><br><br>Bamako et environ
                </div>
                <div class="search">
                        <%= form_tag(search_path, method: :get, class: 'form-inline') do %>
                            <div id="search-data" class="input-field search-bar" data-adresses="<%= @adresses.to_json %>">
                                    <%= text_field_tag :query, nil, autocomplete: 'off', placeholder: "Quartier..." %>
                                    <input type="text" id="debut" class="flatpickr-input" placeholder="Date de debut" name="debut" />
                                    -
                                    <input type="text" id="fin" class="flatpickr-input" placeholder="Date de fin" name="fin" />
                                    <!--<%= number_field_tag :nombre_personne %>-->
                                <%= submit_tag 'Rechercher', :class => 'btn login_btn' %>
                            </div>
                        <% end %>
                </div>
            </div>
        </div>
</header>