<!-- Head -->
<%= render 'pages/head' %>

<!-- Par quartier --> 
<section>
    <div class="container">
        <h2 class="type">Location par adresse</h2>
        <div class="row" id="adresses">
            <div class="card-group">
                <% @adresses.each do |adresse| %>
                <!-- Recuperation de l'image d'un adresse -->
                <% 
                    @location_adresse = Location.where(adresse: adresse).first
                    @image = Image.where(location_id: @location_adresse).first
                %>
                    <div class="col-md-4" id="card-adresse">
                    <div class=" card">
                        <a href="<%= adresse_path(adresse) %>">
                            <%= image_tag @image.libelle_url, class: "card-img-top", alt: adresse %>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i>  <%= adresse %></h5>
                            <p class="card-text"><%= Location.where(adresse: adresse).count %> locations</p>
                        </div>
                    </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>


<!-- Location -->
<%= render 'locations/locations' %>
<!-- Type -->

<section id="section_type">
    <div class="container">
        <h2 class="type">Type de location</h2>
        <div class="row">

                <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="card-group">
                                <% @types.each do |type| %>
                                    <div class="col">
                                    <div class="card">
                                        <a href="<%= type_location_path(type.slug) %>">
                                            <%= image_tag type.image_url, class: "card-img-top", alt: type.libelle%>
                                        </a>
                                        <div class="card-body">
                                            <h5 class="card-title"><%= type.libelle %></h5>
                                            <p class="card-text"><%= Location.where(type: type.id).count %> <%= type.libelle %></p>
                                        </div>
                                    </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>

        </div>
    </div>
</section>