<div class="container">

    <% @reservations.each do |reservation| %>
    <div class="card md-3" id="appart">
      <div class="row no-gutters">
      <div class="col-md-4">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <% if reservation.location.images.present? %>
              <div class="carousel-inner">
                <% reservation.location.images.each do |image| %>
                  <div class="carousel-item <%= "active" if image.id == reservation.location.images.first.id  %>">
                    <%= image_tag image.libelle_url, class: "d-block w-100", heigth: '90%', width: '250px' %>
                  </div>
                <% end %>
              </div>
          <% else %>
            <div class="carousel-item">
              <%= image_tag 'maison.png', heigth: '90%', width: '250px' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-body">
        <h3 class="card-title" id="titre"><%= reservation.location.titre %> <p class="card-text"><small class="text-muted"><%= reservation.location.adresse %></small></p></h3>
        <%= reservation.location.description %>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <ul>
              <li>
                reservé au nom de <b><%= "#{reservation.nom} #{reservation.prenom}" %></b>
              </li>
              <li>
                Adulte: <b><%= reservation.nombre_adulte %></b>; Enfant: <b><%= reservation.nombre_enfant %></b>
              </li>
              <li>
                Pour la date du <b><%= reservation.debut %></b> au <b><%= reservation.fin %></b>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="row d-flex justify-content-end"><%= reservation.location.prix %> F cfa / nuit</div>
            <div class="row d-flex justify-content-end">
              <%= link_to  "Detail", location_path(reservation.location.id), class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% end %>
</div>