<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @reservation.location_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @reservation.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @reservation.prenom %>
</p>

<p>
  <strong>Debut:</strong>
  <%= @reservation.debut %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @reservation.fin %>
</p>

<p>
  <strong>Nombre adulte:</strong>
  <%= @reservation.nombre_adulte %>
</p>

<p>
  <strong>Montant paye:</strong>
  <%= @reservation.montant_paye %>
</p>