<div class="container">
<div id="imageContainer">
    <div class="image_head">
        <%= image_tag(@image.libelle_url, class: 'image-large') if @image.present? %>
    </div>
    <div>
      <% @images.each do |image| %>
          <%= image_tag(image.libelle_url, class: 'image-small') if image.libelle.present? %>
      <% end %>
    </div>
</div>
  
    <div class="row reservetion_container">
        <div class="col-md-6">
          <h3 class="card-title" id="titre">
            <%= @reservation.location.titre %> 
            <span class="badge badge-warning float-md-right" style="font-size: 14px;"><%= @reservation.location.type.libelle %></span> 
            <p class="card-text"><small class="text-muted"><i class='fas fa-map-marker-alt'></i>  <%= @reservation.location.adresse %></small></p>
          </h3>

          <hr>
          <div style="font-size: 16px;">
            <div class="caracteristique"><%= @reservation.location.description %></div>
            <div class="row">
              <div class="col-md-8">
                  <b><span class="badge badge-success prix"><%= @reservation.location.prix %> Fcfa / <%= @reservation.location.duree %></span></b>
                  <h5><%= "CARACTERISTIQUES" if @reservation.location.nombre_salon != nil || @location.nombre_chamber != nil || @location.nombre_toillete != nil %></h5>
                   <% if @reservation.location.nombre_salon != nil %>
                      Salon: <small><%= @reservation.location.nombre_salon %></small>
                    <% end %>

                    <% if @reservation.location.nombre_chamber != nil %>
                      Chambre: <small><%= @reservation.location.nombre_chamber %></small>
                    <% end %>

                    <% if @reservation.location.nombre_toillete != nil %>
                      Toillete: <small><%= @reservation.location.nombre_toillete %></small>
                    <% end %>
                    
                    <% unless @reservation.location.caracteristiques.empty? %>
                        <h6><%= @reservation.location.caracteristiques.map(&:libelle).join(' - ') %></h6>
                    <% end %><br>
      
              </div>
              <div class="col-md-4 d-flex align-items-end justify-content-end">
                  <%= link_to  "Detail", location_path(@reservation.location.slug), class: "btn btn-warning" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <h3 class="card-title">
              LOCATAIRE
              <span class="badge badge-<%= @reservation.confirmer ? "success" : "danger" %> float-md-right" style="font-size: 14px;"><%= @reservation.confirmer ? "Confirmer" : "Non confirmer" %></span>
            </h3>
            
              <hr>
            <div class="row">
              <div class="col-md-8">
                <h5><%= "#{@reservation.nom} #{@reservation.prenom}" %></h5>
                <h5><%= "#{@reservation.email}" %></h5>
                <h5><%= "#{@reservation.telephone}" %></h5>
                  <% if @reservation.nombre_adulte != nil %>
                    Adulte: <small><%= @reservation.nombre_adulte %></small>
                  <% end %>

                  <% if @reservation.nombre_enfant != nil %>
                    Enfant: <small><%= @reservation.nombre_enfant %></small>
                  <br>
                  <% end %>
                    <h6>Du <b id="date"><%= @reservation.debut %></b> Au <b id="date"><%= @reservation.fin %></b></h6>
                 
              </div>
              <div class=" col-md-4 d-flex align-items-end justify-content-end">
                <% if Admin? && @reservation.confirmer == false %>
                  <%= link_to  "Confirmer la reservation", confirmer_reservations_path(@reservation.slug), class: "btn btn-outline-success btn-sm" %>
                <% end %>
              </div>
            </div>
    </div>
</div>