<% content_for :dashboard_content do %>
<section class="dashboard-form">
    <%= render template: 'locations/_form' %>
</section>
<section class="dashboard-tableau">
    <h2>Liste des locations</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Titre</th>
            <th>Adresse</th>
            <th>Prix</th>
            <th>Bailleur</th>
            <th>Action</th>
        </thead>
        <% @locations.each do |location| %>
            <tr>
                <td><%= location.titre %></td>
                <td><%= location.adresse %></td>
                <td><%= "#{location.prix} / #{location.duree}" %></td>
                <td><%= location.nom_bailleur %></td>
                <td>
                    <% if location.etat == true %>
                        <span class="badge badge-success">
                            <%= link_to "Activer", change_state_location_path(location.slug), method: :put %>
                        </span>
                    <% else %>
                        <span class="badge badge-danger">
                            <%= link_to "Desactiver", change_state_location_path(location.slug), method: :put %>
                        </span>
                    <% end %>                    
                    
                    <%= link_to "Modif", edit_location_path(location.slug) %>

                    <%= link_to "Supp", location_path(location.slug), method: :DELETE %>
                    
                    <%= link_to "Detail", show_location_path(location.slug) %>
                </td>

                <td class="d-flex justify-content-around">
                  <% if location.etat == true %>
                    <span class="badge badge-success">
                        <%= link_to "Activer", change_state_location_path(location.slug), method: :put %>
                    </span>
                  <% else %>
                    <span class="badge badge-danger">
                        <%= link_to "Desactiver", change_state_location_path(location.slug), method: :put %>
                    </span>
                  <% end %>
                  
                  <a href="<%= edit_location_path(location.slug) %>">
                    <span class="fas fa-edit" alt="Modifier"></span>
                  </a>

                  <a href="<%= location_path(location.slug) %>" data-method="DELETE">
                    <span class="fas fa-trash" style="color: red;" alt="Supprimer"></span>
                  </a>

                  <a href="<%= show_location_path(location.slug) %>">
                    <span class="fas fa-plus" alt="Detail"></span>
                  </a>
                </td>
            </tr>
        <% end %>
    </table>
</section>
<% end %>

<%= render template: 'pages/dashboard' %>