<% content_for :dashboard_content do %>

<section>
    <div class="jumbotron">
        <h1 class="display-4">103677</h1>
        <div class="lead">Utilisateurs inscrits</div>
    </div>
</section>
<section class="dashboard-tableau">
    <h2>Liste des utilisateurs</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <th>Nom Prenom</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Nombre de reservation</th>
            <th>Action</th>
        </thead>
        <% @users.each do |user| %>
            <tr>
                <td><%= "#{user.nom} #{user.prenom}" %></td>
                <td><%= user.email %></td>
                <td><%= user.telephone %></td>
                <td>8</td>
                <td class="d-flex justify-content-around">
                  <% if user.etat == true %>
                    <span class="badge badge-success">
                        <%= link_to "Activer", change_state_user_path(user.email), method: :put %>
                    </span>
                  <% else %>
                    <span class="badge badge-danger">
                        <%= link_to "Desactiver", change_state_user_path(user.email), method: :put %>
                    </span>
                  <% end %>
                  
                  <a href="<%= edit_admin_path(user.email) %>">
                    <span class="fas fa-edit" alt="Modifier"></span>
                  </a>

                  <a href="<%= delete_user_path(user.email) %>" data-method="DELETE">
                    <span class="fas fa-trash" style="color: red;" alt="Supprimer"></span>
                  </a>

                  <a href="<%= profil_path(user.email) %>">
                    <span class="fas fa-plus" alt="Developper"></span>
                  </a>
                </td>
            </tr>
        <% end %>
    </table>
</section>
<% end %>

<%= render template: 'pages/dashboard' %>