<%= simple_form_for(@location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :adresse %>
    <%= form.text_field :adresse %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :'Activer' %>
    <%= form.check_box :etat %>
  </div>

  <div class="field">
    <%= form.label :prix %>
    <%= form.number_field :prix %>
  </div>

  <div class="field">
    <%= form.label :duree %>
    <%= form.select :duree, [['Prix par...', nil], 'nuit', 'mois'] %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type_id, Type.pluck(:libelle, :id) %>
  </div>

  <%= form.fields_for :images do |p| %>
    <div class="field">
      <%= form.label :images %>
      <%= p.file_field :libelle, :multiple => true, name: "images[libelle][]" %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'Nombre max d\'adulte' %>
    <%= form.number_field :nombre_adulte %>
  </div>

  <div class="field">
    <%= form.label :'Nombre max d\'enfant' %>
    <%= form.number_field :nombre_enfant %>
  </div>

  <div class="field">
    <%= form.label :nombre_salon %>
    <%= form.number_field :nombre_salon %>
  </div>

  <div class="field">
    <%= form.label :nombre_chamber %>
    <%= form.number_field :nombre_chamber %>
  </div>

  <div class="field">
    <%= form.label :nombre_toillete %>
    <%= form.number_field :nombre_toillete %>
  </div>

    
  <div class="field">
    <%= form.association :caracteristiques, as: :check_boxes, label: "Caracteristique: ", class: "form-control", :label_method => lambda { |caracteristique| "#{caracteristique.libelle}" } %>
  </div>
  

  <div class="field">
    <%= form.label :'Nom complet du bailleur', placeholder: 'Nom complet du bailleur' %>
    <%= form.text_field :nom_bailleur %>
  </div>

  <div class="field">
    <%= form.label :email_bailleur %>
    <%= form.email_field :email_bailleur, placeholder: 'Email du bailleur' %>
  </div>

  <div class="field">
    <%= form.label :telephone_bailleur %>
    <%= form.number_field :telephone_bailleur, placeholder: 'Telephone du bailleur' %>
  </div>

  <div class="field">
    <%= form.label :'Adresse du bailleur' %>
    <%= form.text_area :adresse_bailleur, placeholder: 'Adresse du bailleur' %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
