<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col s12">
      <% if @location.images.present? %>
        <div class="carousel carousel-slider">
          <% @location.images.each do | image | %>
            <a class="carousel-item" href="#"><%= image_tag(image.libelle_url, width: '100%', height: '400px') if image.libelle.present? %></a>
          <% end %>
        </div>
      <% else %>
        <a class="carousel-item" href="#"><%= image_tag image_url('maison.png'), width: '100%', height: '400px' %></a>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s8">
        <div class="row">
          <div class="col s9">
            <h5><%= @location.titre %></h5>
            <p><b><%= @location.adresse %></b></p><br><br>
            <p><%= @location.description %></p>
          </div>
          <div class="col s3">
            <button class="<%= @location.etat ? "btn btn-success": "btn btn-danger" %>"><%= @location.etat ? "Diponible": "Occupé" %></button>
            <p><b><%= @location.prix %> Fcfa / nuit</b></p>
          </div>
        </div><br>
      </div>
      <div class="col s4">

            <!-- Réserver box modal -->
            <button class="btn btn-primary modal-trigger" data-toggle="modal" data-target="#reserver">
              Reserver
            </button><br><br>
  
            <!-- Réserver modal structure -->
            <div class="modal fade" id="reserver" tabindex="-1" role="dialog" aria-labelledby="reserverLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reserverLabel">Reservation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <%= render  "/reservations/form", reservation: @reservation %>
                  </div>
                </div>

              <div class="modal fade" id="reserver" tabindex="-1" role="dialog" aria-labelledby="reserverLabel" aria-hidden="true" class="modal modal-fixed-footer">

                  <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
                  
              </div>

              <p><b>Pour toutes informations<br> contactez-nous au (223 71 31 65 44)</b></p>
            </div>
          </div>

    </div>
  </div>

</div>